*.lnk
*.exe
*.ods
.xlsx
*.docx
*.pptx
*.doc
*.msi
*.xls
*.txt
*.jpg
*.jpeg
*.pth
*.sql
.aws/
~*
.*lock*
Analyse_exploratoire_des_donnees/
Architecture/
Challenge/ 
Data_collection_and_management/
Data_visualization_with_Tableau/
Big_data/
Deep_learning/
Deploiement/
Kubernetes/
LLM/
Git_101/
ML_non_supervise/
ML_supervise/
Python/
SQL/
PROJETS/10.Final_project/token.json
PROJETS/10.Final_project/.env
PROJETS/10.Final_project/credentials3.json
PROJETS/10.Final_project/token.pickle
PROJETS/10.Final_project/token
.env
*.events.out.tfevents
*.tsv
catboost_info/
results/
*.tfevents
logs/
learn/
PROJETS/08.Déploiement/mlruns
mlruns/
Orchestration/
PROJETS/DOCUMENTATION*
fraudTest.csv
mlruns/
mlartifacts/
*.cbm
*.csv
*.pyc
*.pkl
mlflow/