*.lnk
*.exe
*.ods
*.xlsx
*.docx
*.pptx
*.pdf
*.doc
*.msi
*.xls
*.txt
*.png
*.jpg
*.jpeg
*.pth
*.sql
.aws/
~*
.*lock*
Big_data/
Data_collection_and_management/
Data_visualization_with_Tableau/
Deep_learning/
Deploiement/
Git_101/
ML_non_supervise/
ML_supervise/
Python/
SQL/
PROJETS/10.Final_project/token.json
PROJETS/10.Final_project/.env
PROJETS/10.Final_project/credentials3.json
PROJETS/10.Final_project/token.pickle
PROJETS/10.Final_project/token
.env
*.events.out.tfevents
*.tsv
catboost_info/
results/
*.tfevents
logs/
learn/
PROJETS/08.Déploiement/mlruns
mlruns/
Challenge/