*.lnk
*.exe
*.ods
*.xlsx
*.docx
*.pptx
*.pdf
*.csv
*.doc
*.msi
*.xls
*.txt
*.png
*.jpg
*.jpeg
*.pth
*.sql
.aws/
~*
.*lock*
Big_data/
Data_collection_and_management/
Data_visualization_with_Tableau/
Deep_learning/
Deploiement/
Git_101/
ML_non_supervise/
ML_supervise/
Python/
SQL/
